<div class="vertical-center">
    <button mat-raised-button (click)="addContent()">Add New Content</button>
</div>

<mat-accordion class="movie-catalog">
    <div *ngFor="let movie of movies">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{movie.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{movie.type | titlecase}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h3>Title</h3>
            <p>{{movie.title}}</p>
            <h3>Description</h3>
            <p>{{movie.description}}</p>
            <h3>Language</h3>
            <p>{{movie.language | titlecase}}</p>
            <h3>Genere</h3>
            <p>{{movie.genere}}</p>
          </mat-expansion-panel>
          <mat-divider></mat-divider>

        </div>

</mat-accordion>
