<mat-accordion class="movie-catalog">
    <div *ngFor="let movie of movies">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{movie.id}} | {{movie.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{movie.type | titlecase}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h3>Title</h3>
            <p>{{movie.title}}</p>
            <h3>Description</h3>
            <p>{{movie.description}}</p>
            <h3>Language</h3>
            <p>{{movie.language | titlecase}}</p>
            <h3>Genere</h3>
            <p>{{movie.genere}}</p>

            <button mat-raised-button (click)="addFavourite(movie)">Add Favourite</button>
            <button mat-raised-button (click)="addWatchLater(movie)">Add Watch Later</button>
            <button mat-raised-button (click)="addWatched(movie)">Add Watched</button>

          </mat-expansion-panel>
          <mat-divider></mat-divider>

        </div>

</mat-accordion>
